<div class="register-box-body">
	<p class="login-box-msg">Send new password to Registered Email-Id</p>
	<form action="j_spring_security_check" method="post">
		<div class="form-group has-feedback">
			<input name="j_username" id="j_username" type="email"
				class="form-control" required placeholder="Enter Email / User Name" />
			<span class="glyphicon glyphicon-user form-control-feedback"></span>
		</div>
		<div class="row">
			<div class="col-xs-8">&nbsp;</div>
			<div class="col-xs-4">
				<button type="submit" class="btn btn-primary btn-block btn-flat">Send</button>
			</div>
		</div>
	</form>
	<a href="#/login" class="text-center">Back to Login page</a>
</div>