<!-- Content Header (Page header) -->
<section class="content-header">
	<h1>
		Dashboard<small>Version 1.0</small>
	</h1>
	<ol class="breadcrumb">
		<li><i class="fa fa-th"></i> Home</li>
		<li><i class="fa fa-dashboard"></i> Dashboard</li>
	</ol>
</section>

<!-- Main content -->
<section class="content">

	<!-- =========================================================== -->
	<div class="row" ng-controller="dashboardctrlOne">
		<div class="col-md-3 col-sm-6 col-xs-12">
			<div class="info-box">
				<span class="info-box-icon bg-aqua"><i class="fa fa-envelope-o"></i></span>
				<div class="info-box-content">
					<span class="info-box-text">Messages</span> <span class="info-box-number">1,410</span>
				</div>
				<!-- /.info-box-content -->
			</div>
			<!-- /.info-box -->
		</div>
		<!-- /.col -->
		<div class="col-md-3 col-sm-6 col-xs-12">
			<div class="info-box">
				<span class="info-box-icon bg-green"><i class="fa fa-flag-o"></i></span>
				<div class="info-box-content">
					<span class="info-box-text">Bookmarks</span> <span class="info-box-number">410</span>
				</div>
				<!-- /.info-box-content -->
			</div>
			<!-- /.info-box -->
		</div>
		<!-- /.col -->
		<div class="col-md-3 col-sm-6 col-xs-12">
			<div class="info-box">
				<span class="info-box-icon bg-yellow"><i class="fa fa-files-o"></i></span>
				<div class="info-box-content">
					<span class="info-box-text">Uploads</span> <span class="info-box-number">13,648</span>
				</div>
				<!-- /.info-box-content -->
			</div>
			<!-- /.info-box -->
		</div>
		<!-- /.col -->
		<div class="col-md-3 col-sm-6 col-xs-12">
			<div class="info-box">
				<span class="info-box-icon bg-red"><i class="fa fa-star-o"></i></span>
				<div class="info-box-content">
					<span class="info-box-text">Likes</span> <span class="info-box-number">93,139</span>
				</div>
				<!-- /.info-box-content -->
			</div>
			<!-- /.info-box -->
		</div>
		<!-- /.col -->
	</div>
	<!-- /.row -->
	<!-- =========================================================== -->

	<div class="row">
		<div class="col-md-3 col-sm-6 col-xs-12">
			<div class="info-box bg-aqua">
				<span class="info-box-icon"><i class="fa fa-bookmark-o"></i></span>
				<div class="info-box-content">
					<span class="info-box-text">Bookmarks</span> <span class="info-box-number">41,410</span>
					<div class="progress">
						<div class="progress-bar" style="width: 70%"></div>
					</div>
					<span class="progress-description"> 70% Increase in 30 Days </span>
				</div>
				<!-- /.info-box-content -->
			</div>
			<!-- /.info-box -->
		</div>
		<!-- /.col -->
		<div class="col-md-3 col-sm-6 col-xs-12">
			<div class="info-box bg-green">
				<span class="info-box-icon"><i class="fa fa-thumbs-o-up"></i></span>
				<div class="info-box-content">
					<span class="info-box-text">Likes</span> <span class="info-box-number">41,410</span>
					<div class="progress">
						<div class="progress-bar" style="width: 70%"></div>
					</div>
					<span class="progress-description"> 70% Increase in 30 Days </span>
				</div>
				<!-- /.info-box-content -->
			</div>
			<!-- /.info-box -->
		</div>
		<!-- /.col -->
		<div class="col-md-3 col-sm-6 col-xs-12">
			<div class="info-box bg-yellow">
				<span class="info-box-icon"><i class="fa fa-calendar"></i></span>
				<div class="info-box-content">
					<span class="info-box-text">Events</span> <span class="info-box-number">41,410</span>
					<div class="progress">
						<div class="progress-bar" style="width: 70%"></div>
					</div>
					<span class="progress-description"> 70% Increase in 30 Days </span>
				</div>
				<!-- /.info-box-content -->
			</div>
			<!-- /.info-box -->
		</div>
		<!-- /.col -->
		<div class="col-md-3 col-sm-6 col-xs-12">
			<div class="info-box bg-red">
				<span class="info-box-icon"><i class="fa fa-comments-o"></i></span>
				<div class="info-box-content">
					<span class="info-box-text">Comments</span> <span class="info-box-number">41,410</span>
					<div class="progress">
						<div class="progress-bar" style="width: 70%"></div>
					</div>
					<span class="progress-description"> 70% Increase in 30 Days </span>
				</div>
				<!-- /.info-box-content -->
			</div>
			<!-- /.info-box -->
		</div>
		<!-- /.col -->
	</div>
	<!-- /.row -->

	<!-- =========================================================== -->

	<div class="row">
		<div class="col-md-6">
			<!-- AREA CHART -->
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">Area Chart</h3>
				</div>
				<div class="box-body">
					<div class="chart">
						<canvas id="areaChart" style="height: 250px"></canvas>
					</div>
				</div>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->
			<!-- /.box -->
		</div>
		<!-- /.col (LEFT) -->


		<div class="col-md-6">
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">Latest Orders</h3>
					<div class="box-tools pull-right">
						<ul class="pagination pagination-sm no-margin">
							<li><a href="#">&laquo;</a></li>
							<li><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">&raquo;</a></li>
						</ul>
					</div>
				</div>

				<!-- /.box-header -->
				<div class="box-body no-padding">
					<table class="table">
						<tr>
							<th style="width: 10px">#</th>
							<th>Task</th>
							<th>Progress</th>
							<th style="width: 40px">Label</th>
						</tr>
						<tr>
							<td>1.</td>
							<td>Update software</td>
							<td>
								<div class="progress progress-xs">
									<div class="progress-bar progress-bar-danger" style="width: 55%"></div>
								</div>
							</td>
							<td><span class="badge bg-red">55%</span></td>
						</tr>
						<tr>
							<td>2.</td>
							<td>Clean database</td>
							<td>
								<div class="progress progress-xs">
									<div class="progress-bar progress-bar-yellow" style="width: 70%"></div>
								</div>
							</td>
							<td><span class="badge bg-yellow">70%</span></td>
						</tr>
						<tr>
							<td>3.</td>
							<td>Cron job running</td>
							<td>
								<div class="progress progress-xs progress-striped active">
									<div class="progress-bar progress-bar-primary" style="width: 30%"></div>
								</div>
							</td>
							<td><span class="badge bg-light-blue">30%</span></td>
						</tr>
						<tr>
							<td>4.</td>
							<td>Fix and squish bugs</td>
							<td>
								<div class="progress progress-xs progress-striped active">
									<div class="progress-bar progress-bar-success" style="width: 90%"></div>
								</div>
							</td>
							<td><span class="badge bg-green">90%</span></td>
						</tr>
						<tr>
							<td>5.</td>
							<td>Fix and squish bugs</td>
							<td>
								<div class="progress progress-xs progress-striped active">
									<div class="progress-bar progress-bar-primary" style="width: 20%"></div>
								</div>
							</td>
							<td><span class="badge bg-light-blue">20%</span></td>
						</tr>
						<tr>
							<td>6.</td>
							<td>Fix and squish bugs</td>
							<td>
								<div class="progress progress-xs progress-striped active">
									<div class="progress-bar progress-bar-primary" style="width: 90%"></div>
								</div>
							</td>
							<td><span class="badge bg-light-blue">90%</span></td>
						</tr>

					</table>
				</div>
				<!-- /.box-body -->
				<div class="box-footer clearfix">
					<a href="javascript::;" class="btn btn-sm btn-info btn-flat pull-left">Place New Order</a> <a href="javascript::;"
						class="btn btn-sm btn-default btn-flat pull-right">View All Orders</a>
				</div>
				<!-- /.box-footer -->
			</div>
			<!-- /.box -->
		</div>
		<!-- /.half end -->
	</div>
	<!-- /.row -->
	<!-- =========================================================== -->

</section>
<script>
	$(function() {
		// Get context with jQuery - using jQuery's .get() method.
		var areaChartCanvas = $("#areaChart").get(0).getContext("2d");
		// This will get the first returned node in the jQuery collection.
		var areaChart = new Chart(areaChartCanvas);

		var areaChartData = {
			labels : [ "January", "February", "March", "April", "May", "June", "July" ],
			datasets : [ {
				label : "Electronics",
				fillColor : "rgba(210, 214, 222, 1)",
				strokeColor : "rgba(210, 214, 222, 1)",
				pointColor : "rgba(210, 214, 222, 1)",
				pointStrokeColor : "#c1c7d1",
				pointHighlightFill : "#fff",
				pointHighlightStroke : "rgba(220,220,220,1)",
				data : [ 65, 59, 80, 81, 56, 55, 40 ]
			}, {
				label : "Digital Goods",
				fillColor : "rgba(60,141,188,0.9)",
				strokeColor : "rgba(60,141,188,0.8)",
				pointColor : "#3b8bba",
				pointStrokeColor : "rgba(60,141,188,1)",
				pointHighlightFill : "#fff",
				pointHighlightStroke : "rgba(60,141,188,1)",
				data : [ 28, 48, 40, 19, 86, 27, 90 ]
			} ]
		};

		var areaChartOptions = {
			//Boolean - If we should show the scale at all
			showScale : true,
			//Boolean - Whether grid lines are shown across the chart
			scaleShowGridLines : false,
			//String - Colour of the grid lines
			scaleGridLineColor : "rgba(0,0,0,.05)",
			//Number - Width of the grid lines
			scaleGridLineWidth : 1,
			//Boolean - Whether to show horizontal lines (except X axis)
			scaleShowHorizontalLines : true,
			//Boolean - Whether to show vertical lines (except Y axis)
			scaleShowVerticalLines : true,
			//Boolean - Whether the line is curved between points
			bezierCurve : true,
			//Number - Tension of the bezier curve between points
			bezierCurveTension : 0.3,
			//Boolean - Whether to show a dot for each point
			pointDot : false,
			//Number - Radius of each point dot in pixels
			pointDotRadius : 4,
			//Number - Pixel width of point dot stroke
			pointDotStrokeWidth : 1,
			//Number - amount extra to add to the radius to cater for hit detection outside the drawn point
			pointHitDetectionRadius : 20,
			//Boolean - Whether to show a stroke for datasets
			datasetStroke : true,
			//Number - Pixel width of dataset stroke
			datasetStrokeWidth : 2,
			//Boolean - Whether to fill the dataset with a color
			datasetFill : true,
			//String - A legend template
			legendTemplate : "<ul class=\"_$tag__________________-legend\">_$tag_______________________________________$ta<span style=\"background-color:_$tag_____________________\">_$tag___$tag______________________$tag__________________$tag_$tag_$tag_$tag",
			//Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
			maintainAspectRatio : true,
			//Boolean - whether to make the chart responsive to window resizing
			responsive : true
		};

		//Create the line chart
		areaChart.Line(areaChartData, areaChartOptions);
	});
</script>
